.rgstr {
  text-align: center;
  border: 1px;
  padding: 20px;
  font-family: 'Raleway';
  width: 500px;


}
input {
  border: 1px solid;
  padding: 5px 12px;
  border-radius: 5px;
}

.success {
    font-weight: bold;
}
input {
  border-radius: 3px;
  border: 1px solid gray;

}
.ng-invalid:not(form) {
  border-left: 3px solid red;
}

.ng-valid:not(form) {
  border-left: 3px solid green;

}

p {
  text-align: center;
  font-size: 20px;
}


form {
  color: black;
  width: 500px;
  margin-left: 500px;
  margin-right: 500px;
}
