<div id="wrapper">
  <div class="search"><label>Search</label> <input type="text" id="search" name="searchBar" class="searchBar" [(ngModel)]="searchStr"></div>
  <div class="dress">
    <div class="rent" *ngFor="let dress of dresses | search:searchStr">
      <div>
        <img [src]="b.image">
      </div>
      <div>
        <h2>{{b.name}}</h2>
        <p>{{b.description}}</p>
      </div>
      <div>
          <h2>{{b.price | currency:USD:true }}</h2>
          <button (click)="getContactInfo(b.user_id)" *ngIf="b.user_id != currentUserId">Rent</button>
      </div>
    </div>
  </div>
</div>
<h1>dashboard</h1>
